html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: auto;
  display: block;
  font-family: 'Noto Sans', 'serif';
}

.contenitore-tabella {
  width: 100%;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  overflow-x: auto;
}

.titolo {
  color: #e50000;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: -30px;
  margin-top: -50px;
  text-align: center;
}

.versione-orario {
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 15px;
  color: #e50000;
}

table {
  border-collapse: collapse;
  table-layout: auto;
  width: 100%;
  border: none;
}

th, td {
  border: 1px solid #000;
  padding: 1.5px 7px;                /* Celle compatte ma leggibili */
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;                 /* Font leggermente più grande */

}

table tr {
  height: 4px;
}

tbody tr.riga_da_evidenziare:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)):not(:nth-last-child(1)):not(:nth-last-child(2)):hover {
    /* background-color: #FFCC4D; */
    /* background-color: #1AFFBD; */
    background-color: #6EFFD5;
    /* background-color: #FFD56E; */
}

thead {
  display: none;
}

th:first-child,
td:first-child {
  width: 260px;
  /* Per massimo coppolecchia */
  min-width: 210px;
  max-width: 210px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  text-align: left;
}

th:not(:first-child),
td:not(:first-child) {
  width: auto;
}

tr:first-child td {
  border: none;
}

td:first-child {
  border-top: none;
  border-bottom: none;
  border-left: none;
  text-align: left;
}

table tbody tr:nth-child(2) {
    font-weight: bold;
}

table tbody tr:nth-last-child(1) {
    font-weight: bold;
}

table tbody tr:nth-child(3) {
    text-transform: lowercase;
}

table tbody tr:nth-last-child(2) {
    text-transform: lowercase;
}

.emoji-icon {
    width: 1.3em;
    height: 1.3em;
    vertical-align: -0.2em;
}

.emoji-icon-gif {
    width: 1.6em;
    height: 1.6em;
    vertical-align: -0.2em;
}

a,
a:visited,
a:hover,
a:active {
    color: '#000000';
    text-decoration: none;
}
