<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8" />
    <title>Orario</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap">
    <script src="https://unpkg.com/twemoji@latest/dist/twemoji.min.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="contenitore-tabella">
        <table>
            <!-- La tabella verrà messa qui -->
        </table>
        <br>

        <div style="
    display: grid;
    grid-template-columns: repeat(6, minmax(150px, 1fr));
    gap: 15px;
    font-size: 18px;
    font-weight: bold;
    max-width: 1400px;      /* più larga */
    margin: 0 auto;
    padding: 10px 10px 200px 200px;
    justify-content: center;
">
            <div style="color: #E50000;">P Previsore Meteo</div>
            <div style="color: #E50000;">H Resp. Idrologo</div>
            <div style="color: #E50000;">I Informatico</div>
            <div style="color: #000000;"><img src="/static/radar.svg" class="emoji-icon"> Resp. reti</div>
            <!--           <div style="font-size: 18px; font-weight: bold;"> -->
            <!--               <span style=" -->
            <!--   display: inline-block; -->
            <!--   width: 25px; -->
            <!--   height: 25px; -->
            <!--   background-color: #cfe619; -->
            <!--   border: 1px solid black; -->
            <!--   margin-right: 8px; -->
            <!--   vertical-align: middle; -->
            <!-- "></span> -->
            <!--               Resp. reti -->
            <!--           </div> -->
            <div style="color: #000000;"><img src="/static/mondo.gif" class="emoji-icon"> Climatologo</div>
            <div style="color: #1F77B4;"><img src="/static/montagna.svg" class="emoji-icon"><img src="/static/tenda.gif" class="emoji-icon"><img src="/static/spiaggia.svg" class="emoji-icon"><img src="/static/funghi.gif" class="emoji-icon"> Ferie</div>
            <!-- -->
            <div style="color: #FF00FF;"><img src="/static/uccellino.gif" class="emoji-icon"> Coprevisore</div>
            <div style="color: #FF00FF;"><img src="/static/pulcino.gif" class="emoji-icon"> Coidro</div>
            <div style="color: #E50000;">SI Supporto I CIMA</div>
            <div style="color: #FF00FF;"></div>
            <div style="color: #000000;"><img src="/static/telefono.svg" class="emoji-icon"> Reperibile</div>
            <!--           <div style="font-size: 18px; font-weight: bold;"> -->
            <!--               <span style=" -->
            <!--   display: inline-block; -->
            <!--   width: 25px; -->
            <!--   height: 25px; -->
            <!--   background-color: #38ffff; -->
            <!--   border: 1px solid black; -->
            <!--   margin-right: 8px; -->
            <!--   vertical-align: middle; -->
            <!-- "></span> -->
            <!--               Reperibile -->
            <!--           </div> -->
            <div style="color: #1F77B4;">RO Recupero ore</div>
            <!-- -->
            <div style="color: #E50000;">P<img src="/static/biberon.gif" class="emoji-icon"> Apprendista P</div>
            <!-- <div style="font-size: 18px; font-weight: bold;"> -->
            <!--     <span style=" -->
            <!--                  display: inline-block; -->
            <!--                  width: 25px; -->
            <!--                  height: 25px; -->
            <!--                  background-color: #E50000; -->
            <!--                  border: 1px solid black; -->
            <!--                  margin-right: 8px; -->
            <!--                  vertical-align: middle; -->
            <!--                  "></span> -->
            <!--     Apprendista P -->
            <!-- </div> -->
            <div style="color: #E50000;"><img src="/static/SH.gif" class="emoji-icon"> Supporto H CIMA</div>
            <div style="color: #FF00FF;">I<img src="/static/bimbo.svg" class="emoji-icon"> Informatico Junior</div>
            <div></div>
            <div style="color: #2CA02C;">T Telelavoro</div>
            <div style="color: #1F77B4;">RP Recupero PD</div>
            <!-- -->
            <div style="color: #E50000;">C<img src="/static/biberon.gif" class="emoji-icon"> Apprendista CP</div>
            <!-- <div style="font-size: 18px; font-weight: bold;"> -->
            <!--     <span style=" -->
            <!--                 display: inline-block; -->
            <!--                   width: 25px; -->
            <!--                   height: 25px; -->
            <!--                   background-color: #FF00FF; -->
            <!--                   border: 1px solid black; -->
            <!--                   margin-right: 8px; -->
            <!--                   vertical-align: middle; -->
            <!--                   "></span> -->
            <!--     Apprendista CP -->
            <!-- </div> -->
            <!-- -->
            <div style="color: #E50000;">H<img src="/static/bimbo.svg" class="emoji-icon"> Idrologo Junior</div>
            <div></div>
            <div></div>
            <div style="color: #278C27;"><img src="/static/razzo.gif" class="emoji-icon"> Missione</div>
            <!-- <div style="color: #278C27;">M Missione</div> -->
            <div style="color: #1F77B4;"><img src="/static/domenica.svg" class="emoji-icon"> Recupero domenica</div>
            <!-- -->
            <div style="color: #E50000;">π P greco</div>
            <div></div> 
            <div></div>
            <div></div>
            <div style="color: #E50000;"><img src="/static/ambulanza.svg" class="emoji-icon"> Malattia</div>
            <div style="color: #1F77B4;">✖ Altra assenza</div>
            <div style="color: #E50000;">P<img src="/static/bimbo.svg" class="emoji-icon"> P Junior</div>
            <div></div>
            <div></div>
            <div></div>
            <div style="color: #808080;"><img src="/static/dormire.gif" class="emoji-icon"> Reper. notturno</div>
            <div style="color: #000000;"><img src="/static/buca_lettere.svg" class="emoji-icon"> Mail di controllo</div>
            <div>
                <!-- Non andare a capo -->
                <span style="color: #E50000;"><img src="/static/arrabiato.gif" class="emoji-icon"> P</span><span style="color: #2CA02C;">T</span>
            </div>
            <div></div>
            <div></div>
            <div></div>
            <div style="color: #FF6600;"><img src="/static/tv.gif" class="emoji-icon"> Rai 3</div>
            <div style="color: #FF99CC;"><img src="/static/maternita.gif" class="emoji-icon"> Maternità</div>
        </div>
    </div>

    <!-- <script> -->
    <!--     twemoji.parse(document.body); -->
    <!-- </script> -->
</body>

</html>
